
        
<nav>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 bg-primary">
            <div class="card text-center justify-content-end align-items-center">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item bg-blue">
                        <a href="/"><div class="card display-4">AFROSOCIAL</div></a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">TECH USED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">APIs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/allblogs">ALL BLOGS</a>
                      </li>
                  </ul>
                  </div>
                </div>
                </div>

            </nav>